.header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 15px 30px;
  color: black;
}

.logo {
  margin: 0;
  font-size: 22px;
}

nav a {
  color: black;
  margin-left: 15px;
  text-decoration: none;
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
}
