.sidebar {
  width: 220px;
  height: 90vh;
  background-color: #333;
  color: white;
  position: fixed;
  top: 7vh;
  left: 0;
  padding: 20px;
}

.brand {
  margin-bottom: 30px;
  font-size: 22px;
  text-align: center;
}

.nav-links {
  list-style: none;
  padding: 0;
}

.nav-links li {
  margin: 15px 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 8px;
  border-radius: 4px;
}

.nav-links a:hover {
  background-color: #555;
}
